# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\caio-\OneDrive\Documentos\FIAP DOCS E MATERIAIS\TDSF1\CTPython\Projects\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
