@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Staatliches&display=swap');

/*Fonte do Site*/
body {
  font-family: 'Baloo Tammudu 2', cursive;
}

/*COR DE FUNDO DAS PAGINAS*/
.cor{  
  height: 120vh;
  background-color: rgba(13, 20, 24);
  color: #d6d5d5;
}

/*Adicionando um fundo escuro para a barra de navegação*/
.topnav {
  background-color: #333;
  overflow: hidden;
  font-family: 'Baloo Tammudu 2', cursive;
} 

.topnav-name{
  background-color: rgb(31, 31, 31);
  overflow: hidden;
  font-family: 'Staatliches', cursive;
}

.topnav-name img{
  margin-left: 10px;
  margin-bottom: 10px;
}

/*Adicionando um fundo escuro para a barra de navegação*/
.topnav {
  background-color: #3b4044;
  overflow: hidden;
  width: 100%;
}

.topnav-name{
  background-color: rgb(31, 31, 31);
}

.topnav-name a{
  color: #d6d5d5;
  font-size: 25px;
  text-decoration: none;
}

/* ITENS Do NAVBAR */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.textnav a{
  font-size: 15px;
}

.login{
  background-color: #04AA6D;
  font-size: 39px;
  float: right;
}

/* HOVER DOS LINKS NAVBAR */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* COR DO ITEM DA NAVBAR SELECIONADO */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
  width: 200px;
}

/* BOTÃO LOGIN */
.topnav a.active1 {
  background-color: #585858;
  float:right;
}


/* BUTTON STYLE */
.temasButton{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

/*ESPACAMENTO DOS BUTTONS*/
.HashButton{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

/*FUNDO PARA MARCAR OS BUTTONS*/
#borderTema{
  width: 100%;
  background-color: #ffffff29;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*ESTILIZACAO DOS BUTTONS*/
.button_slide {
  height: 65px;
  width: 140px; 
  color: rgb(88, 83, 83);
  background-color: #d6d5d5;
  border: 2px solid rgb(238, 137, 43);
  border-radius: 0px;
  padding: 10px 10px;
  display: inline-block;
  font-family: "Lucida Console", monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(238, 137, 43);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

/*ANIMACAO DOS BUTTONS*/
.slide_down:hover {
  color: #fff;
  box-shadow: inset 0 100px 0 0 rgb(238, 137, 43);
}

/*COR MARCADA - BUTTONS */
#aviao, #carro, #onibus{
  background-color: rgb(238, 137, 43);
}


#text {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

/*RESPONSIVIDADE*/

@media(max-width: 720px){

  /*NAVBAR*/
  .textnav a{
    width: 100%;
    font-size: 15px;
  }

  .topnav a.active1 {
    background-color: #585858;
    width: 100%;
  }

  /*BUTTONS TAMANHO*/
  .temasbutton {
    width: 100%;
    height: 150px;
  }
}


/*Texto ao lado do google maps - PG :Como chegar*/
#textMargin{
  margin-left: 55vw;
}

.navbar-brand:hover{
  color: #d6d5d5;
}