
/* Estilizar os links dentro da barra de navegação */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Baloo Tammudu 2', cursive;
}
.textnav{
    float: left;
}

/* Alterar a cor dos links ao passar o mouse */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

/* Adicione uma cor ao link ativo / atual */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
  width: 200px;
}


/*SLIDE*/
.slide{
  width: 100%;
  height: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Ocultar as imagens por padrão */
.mySlides {
  display: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}