
/*TITULO Onibus*/

.topo {
    text-align: center;
    margin-bottom: 0px;
    background-color: rgba(13, 20, 24);
}

/*Titulo Chegar Em Sp*/
.titulo{
    text-align: center;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
    font-family: 'Staatliches', cursive;
}

.cor1{  
    background-color: rgba(13, 20, 24);
    color: #d6d5d5;
    font-family: 'Baloo Tammudu 2', cursive;
  }

#borderTe{
    width: 100%;
    background-color: #ffffff29;
    margin-top: 20px;
    margin-bottom: 20px;
}

.descricao{
    font-size: 16px;
    background-color: rgba(13, 20, 24);
    font-family: 'Baloo Tammudu 2', cursive;
}


/*Card*/
.displayCard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: rgba(13, 20, 24);

}

.card-body{
    background-color: #3b4044; 
    font-family: 'Baloo Tammudu 2', cursive;
}

.imagem{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.child_container{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    display: inline-block;
    width: 350px;
    background-color: #3b4044;
    border: 2px solid #585858;
    border-radius: 5px;
}

/*Links Sem Text Decoration*/
p a{
    text-decoration: none;
    color: rgb(238, 137, 43);
}

p a:hover{
    text-decoration: none;
    color: rgb(233, 120, 15);
    
}

