
/*TÍTULO*/

.topo {
    text-align: center;
    margin-top: 30px;
    font-family: 'Staatliches', cursive;
}

.cor{
    height: 900%;
}

/*CARDS DE CADA USER*/

.displayCard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(13, 20, 24);
    
}

.child_container{
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    display: inline-block;
    width: 200px;
    background-color: #3b4044;
    border: 2px solid #585858;
    border-radius: 5px;
    font-family: 'Baloo Tammudu 2', cursive;
}

/*Foto User - Card*/
.imagem{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.lucasImg{
    height: 200px;
}

/*Nome User*/
.titulo{
    font-size: 18px;
    color: rgb(238, 137, 43);
}

.rm{
    margin-top: 30px;
}

@media(max-width: 720px){
    .child_container{
        width: 100%;
    }
}